# Google Bookings & Email Dispatch Settings
SMTP_USER=elevardigitalstudio@gmail.com
SMTP_PASS=your-gmail-app-password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true

# Vercel Blob Settings
BLOB_STORE_ID="store_XINiUnSzguQd8c4n"
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_XINiUnSzguQd8c4n_CurldMpSGWyQcyh4sYD6o9ZJwNz43f"

GMAIL_USER=elevardigitalstudio@gmail.com
GMAIL_APP_PASSWORD=iyfrmoziilyntund